.rs{
    color: white;
    background: #001030;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

.rs-profile{
    padding-top: 60px;
    text-align: center;
    max-width: 70%;
    margin: auto;
}

.rs-profile img{
    width: 110px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.rs-profile h3{
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 5px 0px;
}

.rs-profile p{
    font-size: 12px;
    opacity: 80%;
    font-weight: 300;
}

.rs hr{
    border-color: #ffffff50;
    margin: 15px 0px;
}

.rs-media{
    padding: 0px 20px;
    font-size: 15px;
}

.rs-media div{
    max-height: 180px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 5px;
    margin-top: 8px;
}

.rs-media div img{
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
}

.rs button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #077eff;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 65px;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .rs button:active {
    background-color: #045bb8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  }
  

.modal {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Transparent black background */
    display: grid;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s; /* Apply your fadeIn animation */
  }
  
  .modal-content {
    width: max(30vw, 300px); /* Adjust the size based on your requirements */
    background-color: white;
    border-radius: 8px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: fadeIn 0.5s; /* Smoothly fade in the content */
  }
  
  .modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #808080;
  }

  @media (max-width:900px) {
    .rs{
        display: none;
    }
  }