.profile {
  min-height: 100vh;
  background: url(/background.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 700px;
  border-radius: 10px;
}

.profile-pic {
  max-width: 200px;
  aspect-ratio: 1/1;
  margin: 20px auto;
  border-radius: 50%;
}

.profile form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.profile form h3 {
  font-weight: 500;
  color: #077eff;
}

.profile label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: gray;
  cursor: pointer;
}

.profile label img {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.profile input,
textarea {
  padding: 10px;
  min-width: 300px;
  border: 1px solid #c9c9c9;
  outline-color: #077eff;
}

.profile form button {
  border: none;
  color: white;
  background-color: #077eff;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.profile form button:active {
  transform: scale(0.95);
  background-color: #045bb8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .profile {
    min-height: 100vh; /* Ensure it takes full screen height */
    padding: 20px;
    overflow-y: auto; /* Allow scrolling if content overflows */
  }

  .profile-container {
    flex-direction: column;
    min-width: auto;
    width: 100%;
    margin: 0 20px;
    height: auto; /* Set to auto for flexible height */
  }

  .profile-pic {
    max-width: 150px;
    margin: 20px auto;
  }

  .profile form {
    padding: 20px;
    width: 100%;
  }

  .profile input,
  textarea {
    min-width: auto;
    width: 100%;
  }
}

